html {
    color: black;
    font-family: 'Lucida Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    text-align: left;
    background-color: rgb(102, 102, 102);
    line-height: 22px;
}

body {
    margin: 0px;
}

div#header {
    background: white url("../images/header-background.png") repeat-x top;
    padding-top: 30px;
    height: 40px;
}

div#header a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: block;
    width: 700px;
    margin: 0px auto 0px auto;
}

div#wide-content {
    background-color: white;
    padding-bottom: 20px;
}

div#content {
    width: 700px;
    margin: 0px auto 0px auto;
}

div#footer {
    clear: both;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    background: rgb(102, 102, 102) url("../images/footer-background.png") repeat-x top;
    height: 100px;
    color: white;
}

div#footer a {
    color: white;
}

div.left-column {
    width: 340px;
    float: left;
    padding-right: 10px;
}

div.right-column {
    width: 340px;
    float: right;
    padding-left: 10px;
}

div.tags {
    font-size: 16px;
}

div.tag-cloud {
    clear: both;
    text-align: center;
}

h1 {
    font-size: 27px;
    font-weight: normal;
    margin: 0px;
    padding-top: 15px;
}

h2 {
    font-size: 22px;
    font-weight: normal;
}

h3 {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}

a {
    color: black;
}

img {
    border: none;
    margin: 10px auto 10px auto;
    display: block;
}

img.inline-image {
    margin: 0px;
    display: inline;
}

img.avatar {
    margin: 20px 20px 20px 0px;
    display: inline;
    float: left;
}

.soft {
    color: #555;
}

li {
    margin-bottom: 5px;
}

ul {
    list-style-image: url("../images/list-style-image.png");
    padding-left: 1em;
    margin-left: 1em;
}

/* Reset list image for disqus */
div#disqus_thread ul {
    list-style-image: none;
}

code {
    font-size: 14px;
}

pre code {
    clear: both;
    display: block;
    padding: 8px;
    margin-bottom: 2em;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
}

blockquote {
    background: rgb(230, 230, 230) url("../images/quote-background.png") no-repeat top left;
    font-family: serif;
    padding: 5px 5px 5px 50px;
    font-size: 18px;
    font-style: italic;
}

p.caption {
    font-size: 14px;
    text-align: center;
    color: #555;
}

div.footnotes {
    color: #555;
    border-left: 1px dashed #555;
}

a.footnoteRef {
    text-decoration: none;
}

a.footnoteBackLink {
    text-decoration: none;
}

div.footnotes hr {
    display: none;
}

table {
    margin: 20px auto 20px auto;
}

td, th {
    padding-left: 8px;
    padding-right: 8px;
}
