/*******************************************************************************
 * Layout                                                                      *
 ******************************************************************************/

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

div#navigation {
    margin: 0px 0px 0px 18px;
    position: absolute;
    top: 0px;
    width: 102px;
}

div#navigation h1, div#navigation a {
    display: block;
    text-align: right;
}

div#navigation a {
    margin: 6px 0px 6px 0px;
}

div#content {
    left: 156px;
    margin: 0px;
    padding: 0px 36px 0px 36px;
    position: absolute;
    width: 648px;
}

h1, h2, h3 {
    margin: 0px 0px 18px 0px;
    padding: 24px 0px 0px 0px;
}

p, ul {
    margin: 18px 0px 18px 0px;
}

img {
    margin: 12px 0px 12px 0px;
}

ul {
    padding-left: 18px;
}

div#footer {
    margin: 60px 0px 36px 0px;
}

/*******************************************************************************
 * Color/typography                                                            *
 ******************************************************************************/

html {
    background-color: #fff;
    background: transparent url("../images/sidebar.png") repeat-y left top;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 24px;
}

body {
    color: #333;
}

div#navigation a {
    border: none;
    color: #333;
}

a {
    color: #111;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

a img {
    margin-bottom: 0px;
}

pre {
    font-size: 14px;
    margin-left: 18px;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

ul {
    list-style-image: url("../images/list-style-image.png");
}

blockquote {
    font-style: italic;
    margin-left: 18px;
}

.soft, .caption {
    font-style: italic;
    color: #555;
}

div.figure {
    text-align: center;
}

div.figure p {
    margin-top: 6px;
}

div.footnotes {
    color: #555;
    border-left: 1px dashed #555;
}

div.footnotes hr {
    display: none;
}

div#footer {
    font-size: 14px;
}

/*******************************************************************************
 * Disqus                                                                      *
 ******************************************************************************/

/* Reset list image for disqus */
div#disqus_thread ul {
    list-style-image: none;
}

div#dsq-subscribe em {
    text-decoration: none;
}
