html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    height: 100%;
}

div#navigation {
    background: #fff linear-gradient(#eee, #eee 95%, #ccc);
    padding-bottom: 18px;
    text-align: center;
}

div#navigation a {
    border: none;
    margin: 0px 6px 0px 6px;
}

div#content {
    padding: 12px;
}

@media all and (min-width: 822px) {
    html {
        background: #fff linear-gradient(90deg, #eee, #eee 140px, #ccc 156px, #fff0 157px);
    }

    div#navigation {
        float: left;
        background: none;
        left: 0px;
        margin: 0px 0px 0px 18px;
        position: fixed;
        top: 0px;
        width: 102px;
    }

    div#navigation h1, div#navigation a {
        display: block;
        text-align: right;
    }

    div#navigation a {
        color: #333;
        margin: 6px 0px 6px 0px;
    }

    div#content {
        margin: 0px 0px 0px 156px;
        padding: 0px 36px 0px 36px;
        width: 648px;
    }
}
