<!DOCTYPE html>
<html lang="en" $if(dark)$class="dark"$endif$>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <title>jaspervdj - $title$</title>

        <!-- Stylesheets. -->
        <link rel="stylesheet" type="text/css" href="/style.css?v=0">

        <!-- RSS. -->
        <link rel="alternate" type="application/rss+xml" title="jaspervdj - a personal blog" href="http://jaspervdj.be/rss.xml">

        <!-- Metadata. -->
        <meta name="keywords" content="Jasper Van der Jeugt,blog,programming,coding,haskell,function,personal,homepage">
        <meta name="description" content="Personal home page and blog of Jasper Van der Jeugt.">
    </head>
    <body>
        <div id ="navigation">
            <h1>Stuff</h1>
            <a href="/">Home</a>
            <a href="/posts.html">Archive</a>
            <a href="/photos.html">Photoblog</a>
            <a href="/contact.html">Contact</a>
            <!-- <a href="/cv.html">CV</a> -->
            <h1>Links</h1>
            <a href="http://github.com/jaspervdj">GitHub</a>
            <a href="http://twitter.com/jaspervdj">Twitter</a>
            <a href="http://www.linkedin.com/pub/jasper-van-der-jeugt/25/1ab/916">LinkedIn</a>
            <a href="https://www.instagram.com/jaspervdj/">Instagram</a>
            <a href="http://jaspervdj.tumblr.com/">Tumblr</a>
            <a href="http://www.flickr.com/photos/jaspervdj/">Flickr</a>
        </div>

        $body$

        <!-- GUID -->
        <div style="display: none">ce0f13b2-4a83-4c1c-b2b9-b6d18f4ee6d2</div>
    </body>
</html>
