<script type='text/javascript'>
    $$(function() {
        $$(".tweet").tweet({
            username: "jaspervdj",
            avatar_size: null,
            count: 3,
            join_text: " - ",
            loading_text: "Loading tweets..."
        });
    });
</script>

<div id="posts">
    <h1>Recent posts</h1>
    <ul>
        $posts$
    </ul>
    <a type="application/rss+xml" href="/rss.xml"><img class="inline-image" style="vertical-align: middle" alt="rss feed" src="/images/rss.png" /></a>
    &nbsp;
    <a href="/posts.html">All posts...</a>
    <p>
        Browse: $tags$
    </p>
</div>

<div class="right-column">
    <h1>Stuff</h1>
    <ul>
        <li><a href="/links.html">Links &amp; blogroll</a></li>
        <li><a href="/contact.html">Contact information</a></li>
        <li><a href="/cv.html">Curriculum Vitae</a></li>
    </ul>

    <h1>Twitter</h1>
    <div class="tweet"> </div>
    <a href="http://twitter.com/jaspervdj">Follow me on twitter...</a>
</div>

<div class="left-column">
    <h1>Meta</h1>
    <img src="/images/avatar.png" alt="That's me!" class="avatar" />
    <p>
        My name is Jasper Van der Jeugt, and I study Computer
        Science at Ghent University. I was born in 1990, and I'm currently
        residing in Lokeren &amp; Ghent, Belgium.
    </p>
    <p>
        This is mostly a technical blog on various topics including
        (but certainly not limited to) web development, coding, unix,
        haskell and other languages. Aside from that, the probability
        that you will find other, more random posts here is very real.
    </p>
</div>
