<h1>Photoblog</h1>
<div class="photoblog">
    <p>
        Over the last few years, I have become more and more drawn in by the
        genre of street photography.  I (unfortunately) do not have enough time
        to practice this as much as I want, but I do try to carry a camera
        around at all times.
    </p>
    <p>
        This is pretty much a mirror of my
        <a href="https://www.instagram.com/jaspervdj/">instagram</a>,
        <a href="https://www.flickr.com/photos/jaspervdj/">flickr</a> and
        <a href="https://jaspervdj.tumblr.com/">tumblr</a> accounts.
    </p>

    $for(photos)$
    <img src="$image$" alt="Photo" />
    $endfor$

    <div class="pagination">
        $if(previousPageNum)$
            <a href="$previousPageUrl$">previous</a>
        $else$
            <a href="$lastPageUrl$">previous</a>
        $endif$
        &mdash;
        page $currentPageNum$ of $numPages$
        &mdash;
        $if(nextPageNum)$
            <a href="$nextPageUrl$">next</a>
        $else$
            <a href="$firstPageUrl$">next</a>
        $endif$
    </div>
</div>
